[Unit]
Description=belaUI service
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
# install_service.sh automatically sets WorkingDirectory to point to the current directory
WorkingDirectory=/home/nvidia/belaUI
ExecStart=/usr/bin/ruby ./belaUI.rb -o 0.0.0.0 -p 80
ExecStop=pkill -f belaUI.rb;pkill -f runner.rb;killall srtla_send;killall belacoder
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
